/win32/.vs/opengl/v15/Browse.VC.db
/win32/Debug
/win32/.vs/opengl/v15/Browse.VC.opendb
/win32/.vs/opengl/v15/ipch/AutoPCH/5983995d0cd11e9/INCLUDE.ipch
/win32/.vs/opengl/v15/ipch/AutoPCH/9065160aa6102709/TIMER.ipch
/win32/.vs/opengl/v15/ipch/AutoPCH/946e41eb2851e352/MAIN.ipch
/win32/.vs/opengl/v15/ipch/AutoPCH/ad8b43e873ed5a7a/TIMER.ipch
